{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}
<header>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ path('homepage') }}">
					xTarget
				</a>
				<button type="button" class="navbar-toggle"
						data-toggle="collapse"
						data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<!--span class="icon-bar">nav1</span>
					<span class="icon-bar">nav2</span>
					<span class="icon-bar">nav3</span-->
				</button>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					{% block header_navigation_links %}
						<li>
							<a href="{{ path('blog_index') }}">
								<i class="fa fa-home"></i> Home page
							</a>
						</li>

						{% if app.user %}
						{% else %}
						<li>
								<a href="{{ path('fos_user_security_login') }}">
								<i class="fa fa-home"></i> Connexion
							</a>
						</li>
						{% endif %}

						<!--li>
							<a href="{{ path('fos_user_registration_register') }}">
								<i class="fa fa-home"></i> S'enregistrer
							</a>
						</li!-->									
						
						{# The 'app.user' condition is required to avoid issues in 404 and 500 error pages
						   As routing is done before security, error pages are not covered by any firewall.
						   This means you can't use is_granted() directly on these pages.
						   See http://symfony.com/doc/current/cookbook/security/form_login_setup.html#avoid-common-pitfalls
						#}
						{% if app.user and is_granted('ROLE_ADMIN') %}
							<li>
								<a href="{{ path('admin_post_index') }}">
									<i class="fa fa-lock"></i> Backend
								</a>
							</li>
						{% endif %}
					{% endblock %}

					{% if app.user %}
						<li>
							<a href="{{ path('fos_user_security_logout') }}">
								<i class="fa fa-sign-out"></i> Logout
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	
</header>
{% endblock %}


{% block footer %}
	<footer>
		<div class="container">
			<div class="row">
				<div id="footer-copyright" class="col-md-6">
					<p>&copy; {{ 'now'|date('Y') }} - The Poncho Project - MIT License</p>
					<p>
						<a href="{{ path('admin_index') }}">
							<i class="fa fa-lock"></i> Backend
						</a>
					</p>
				</div>
				<div id="footer-resources" class="col-md-6">
					<p>
						<a href="https://twitter.com/poncho"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/Poncho"><i class="fa fa-facebook"></i></a>
					</p>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}

{% block body %}

<div class="container body-container" id="chart">
	<script src="{{ asset('js/d3.v3.min.js') }}"></script>
	<script src="{{ asset('js/RadarChart.js') }}"></script>
	<!--script type="text/javascript" src="{{ asset('js/script.js') }}"></script-->

		<script>
var w = 250,
	h = 250;

var colorscale = d3.scale.category10();

//Legend titles
var LegendOptions = ['Smartphone','Tablet'];

	
	
//Data
var d = [
		  [
			{% for ue in ues %}
		   	    {axis:"{{ue.title}}",value:0.59},
			{% endfor %}
				{axis:"Search Engine",value:0.12},
				{axis:"Search test",value:0.53}
		  ],[
			{% for ue in ues %}
		   	    {axis:"{{ue.title}}",value:0.59},
			{% endfor %}
				{axis:"Search Engine",value:0.62},
				{axis:"Search test",value:0.23}
		  ]
		];

//Options for the Radar chart, other than default
var mycfg = {
  w: w,
  h: h,
  maxValue: 0.6,
  levels: 6,
  ExtraWidthX: 100
}

//Call function to draw the Radar chart
//Will expect that data is in %'s
RadarChart.draw("#chart", d, mycfg);

////////////////////////////////////////////
/////////// Initiate legend ////////////////
////////////////////////////////////////////

var svg = d3.select('#body')
	.selectAll('svg')
	.append('svg')
	.attr("width", w+300)
	.attr("height", h)

//Create the title for the legend
var text = svg.append("text")
	.attr("class", "title")
	.attr('transform', 'translate(90,0)') 
	.attr("x", w - 70)
	.attr("y", 10)
	.attr("font-size", "12px")
	.attr("fill", "#404040")
	.text("What % of owners use a specific service in a week");
		
//Initiate Legend	
var legend = svg.append("g")
	.attr("class", "legend")
	.attr("height", 100)
	.attr("width", 200)
	.attr('transform', 'translate(90,20)') 
	;
	//Create colour squares
	legend.selectAll('rect')
	  .data(LegendOptions)
	  .enter()
	  .append("rect")
	  .attr("x", w - 65)
	  .attr("y", function(d, i){ return i * 20;})
	  .attr("width", 10)
	  .attr("height", 10)
	  .style("fill", function(d, i){ return colorscale(i);})
	  ;
	//Create text next to squares
	legend.selectAll('text')
	  .data(LegendOptions)
	  .enter()
	  .append("text")
	  .attr("x", w - 52)
	  .attr("y", function(d, i){ return i * 20 + 9;})
	  .attr("font-size", "11px")
	  .attr("fill", "#737373")
	  .text(function(d) { return d; })
	  ;	
	</script>
</div>

	<div class="row">
	{% for ue in ues %}
			<div class="col-md-3">
				<div class="jumbotron">
					<!--strong>Engagement</strong><br/><br/-->
					<a class="btn btn-primary btn-lg" href="{{ path('blog_uePage', { slug: ue.slug }) }}">
					<i class="fa fa-users"> {{ue.title}} </i>
					</a>
				</div>
			</div>
	{% endfor %}
    </div>
{% endblock %}


