{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}

    <h2>{{ grp.title }}</h2>
	<p>{{ grp.startContent }}</p>
	
<form class="navbar-search pull-right" action="{{ path('blog_grpQcmPage', { grpSlug: grp.slug, page: pGrpNextId }) }}" method="POST">
<input  type="hidden" name="str_pGrpTab" value="{{str_pGrpTab }}"><BR/>
<button type="submit" class="btn btn-primary"> > Commencer le questionnaire</button>
</form>


{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
