{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title|raw }}</h1>

    <div id="post-add-answer" class="well">
        {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
        his/her credentials (login + password) during this session. If he/she
        is automatically logged via the 'Remember Me' functionality, he/she won't
        be able to add a answer.
        See http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
        #}
        {{ post.content|raw }}<br>
	
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		{{ render(controller('AcmeUserBundle:Blog:answerGrpForm', { 'id': post.id, 'str_pGrpTab' : str_pGrpTab, 'grp': grpSlug, 'nextPostId': nextPostId })) }}
        
		<!--legend>grpSlug[{{ grpSlug }}] nextPostId[{{ nextPostId }}]</legend-->
		{% endif %}
    </div>
	
	
	 <h3>{{ post.comments|length }} commentaire pour cette question :</h3>

    {% for comment in post.comments %}
        <div class="row post-comment">
            <h4 class="col-sm-3">
                <strong>{{ comment.authorEmail|raw }}</strong> commenté le
                <strong>{{ comment.publishedAt|date('jS M \\à g:i a') }}</strong>
            </h4>
            <div class="col-sm-9">
                {{ comment.content|raw }}
            </div>
        </div>
    {% else %}
        <div class="post-comment">
            <p>Des remarques sur cette question ?</p>
        </div>
    {% endfor %}
	
	<div id="post-add-comment" class="well">
        {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
        his/her credentials (login + password) during this session. If he/she
        is automatically logged via the 'Remember Me' functionality, he/she won't
        be able to add a comment.
        See http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
        #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('AcmeUserBundle:Blog:commentForm', { 'id': post.id })) }}
        {% else %}
            <p>
                <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">
                    <i class="fa fa-sign-in"></i> Se connecter
                </a>
                pour commenter
            </p>
        {% endif %}
    </div>

   
	
{% endblock %}

{% block sidebar %}
    {% if app.user and post.isAuthor(app.user) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_post_edit', { id: post.id }) }}">
                <i class="fa fa-edit"></i> Edit post
            </a>
        </div>
    {% endif %}

    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}

{% endblock %}
