{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    {{ post.content|md2html }}

    <div id="post-add-comment" class="well">
        {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
        his/her credentials (login + password) during this session. If he/she
        is automatically logged via the 'Remember Me' functionality, he/she won't
        be able to add a comment.
        See http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
        #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('AcmeUserBundle:Blog:commentForm', { 'id': post.id })) }}
        {% else %}
            <p>
                <a class="btn btn-success" href="{{ path('fos_user_security_login') }}">
                    <i class="fa fa-sign-in"></i> Se connecter
                </a>
                to publish a comment.
            </p>
        {% endif %}
    </div>
	
    <div id="post-add-answer" class="well">
        {# The 'IS_AUTHENTICATED_FULLY' role ensures that the user has entered
        his/her credentials (login + password) during this session. If he/she
        is automatically logged via the 'Remember Me' functionality, he/she won't
        be able to add a answer.
        See http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
        #}
       
		<h3>{{ post.answers|length }} answers</h3>
		{% for answer in post.answers %}
			<div class="row post-comment">
				<h4 class="col-sm-3">
					<strong>{{ answer.authorEmail }}</strong> answered on
					<strong>{{ answer.publishedAt|date('M jS \\a\\t g:i a') }}</strong>
				</h4>
				<div class="col-sm-9">
					{{ answer.content|md2html }}
					{{ answer.answer1 }}
					{{ answer.answer2 }}
					{{ answer.answer3 }}
					{{ answer.answer4 }}
				</div>
			</div>
		{% else %}
			<div class="post-comment">
				<p>Soyez le premier à répondre à cette question.</p>
			</div>
		{% endfor %}
	   
	   
		{% if is_granted('ROLE_ADMIN') %}
            {{ render(controller('AcmeUserBundle:Blog:answerForm', { 'id': post.id })) }}
			
		
        {% endif %}

    </div>
{% endblock %}

{% block sidebar %}
    {% if app.user and post.isAuthor(app.user) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_post_edit', { id: post.id }) }}">
                <i class="fa fa-edit"></i> Edit post
            </a>
        </div>
    {% endif %}

    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}

{% endblock %}
